.pollCard {
  font-family: roboto;
  color: white;
  display: grid;
  grid-template-columns: 1fr 7fr;
  margin: 30px;
  grid-column-gap: 8px;
  border-top: solid 1px #353535;
  padding-top: 30px;
}
.links{
  display: inline;
  text-align: center;
  grid-column-start: 2;
  align-items: space-between;
}

.pollCreated {
  grid-column: span 2;
  display: grid;
  grid-template-columns: 1fr 7fr;
  margin-bottom: 18px;
  grid-column-gap: 8px;
}

.pollAvatar {
  grid-row: span 2;
  margin: auto;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  width: 40px;
  height: 40px;
}

.pollUsername {
  margin-bottom: 1px;
}

.pollTimeStamp, .commentTimeStamp {
  font-size: 12px;
  color: #999;
}

.pollCommentsSvg, .pollVotesSvg {
  margin: auto;
  display: block;
  margin-bottom: 4px;
}

.pollCommentsCount, .pollVotesCount {
  text-align: center;
  color: #999;
  font-size: 13px;
}

.pollTitle {
  font-weight: 300;
}

.pollCard button.viewPoll, .pollCard button.viewComments {
 color: #6979F8;
 cursor: pointer;
 background-color: transparent;
 border: none;
 text-decoration: none;
 display: inline;
 margin: 0 0 4px;
 padding: 0;
}

.pollCard button.viewPoll:hover, .pollCard button.viewComments:hover {
  color: rgb(111, 127, 245);
 }

.pollImage {
  display: block;
  width: 100%;
  margin-top: 16px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.poll {
  display: none;
  margin-top: 12px;
}

.poll form input {
  margin-right: 12px;
  -webkit-appearance: none;
  border: solid 2px #6979F8;
  width: 18px;
  height: 18px;
  border-radius: 9px;
  top: 3px;
  position: relative;
}

.poll form input:active, .poll form input:focus {
  outline: 0
}

.poll form input:checked {
  width: 6px;
  height: 6px;
  outline: 0;
  background: #fff;
  border: solid 6px #6979F8;
  box-sizing: content-box;
}

.poll p {
  margin-bottom: 0;
}

.poll form {
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 0.5px;
}

.poll form button {
  width: 100%;
  height: 42px;
  border: 0;
  background-color: #6979F8;
  color: white;
  font-size: 16px;
  font-weight: 300;
  border-radius: 5px;
  margin-top: 10px;
}

.btn {
  border: 0;
}

.post {
  background-color: #7B68EE !important;
}
.modal-header {
  color: white !important;
}
.modal-content {
  background-color: #181818 !important;
}

.MuiFormControl-root {
  width: 110% !important;
}

.MuiInputBase-input, #outlined-basic-label, .MuiInputLabel-outlined {
  color: white !important;
}
.poll form button:disabled {
  background-color: #E4E4E4;
}

input, label {
  cursor: pointer;
}

.pollCard button.viewComments {
  margin-top: 12px;
  font-size: 12px;
  grid-column-start: 2;
  width: 88px;
}

.pollComments {
  display: none;
  margin-top: 22px;
  grid-column-start: 2;
}

.commentCard {
  border-bottom: solid 1px #353535;
  padding-bottom: 10px;
  display: flex;
  flex-wrap: wrap;
}

.commentCreated {
  display: grid;
  grid-template-columns: 30px auto;
  margin-bottom: 4px;
  grid-column-gap: 8px;
}

.commentAvatar {
  grid-row: span 2;
  width: 30px;
  height: 30px;
  margin-top: 4px;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
}

.commentUsername {
  font-size: 13px;
  font-weight: 400;
  margin-bottom: 2px;
  margin-top: 4px;
}

.commentCardComment {
  font-weight: 300;
  font-size: 13px;
  color: #f1f1f1;
  width: 100%;
}

.commentEdit {
  margin-top: -6px;
  margin-right: 12px;
}