.pollCard {
  font-family: roboto;
  color: white;
  display: grid;
  grid-template-columns: 1fr 7fr;
  margin: 30px;
  grid-column-gap: 8px;
  border-top: solid 1px #353535;
  padding-top: 30px;
}

.pollCreated {
  grid-column: span 2;
  display: grid;
  grid-template-columns: 1fr 7fr;
  margin-bottom: 18px;
  grid-column-gap: 8px;
}

.pollAvatar {
  grid-row: span 2;
  margin: auto;
}

.pollUsername {
  margin-bottom: 1px;
}

.pollTimeStamp {
  font-size: 12px;
  color: #999;
}

.pollCommentsSvg, .pollVotesSvg {
  margin: auto;
  display: block;
  margin-bottom: 4px;
}

.pollCommentsCount, .pollVotesCount {
  text-align: center;
  color: #999;
  font-size: 13px;
}

.pollTitle {
  font-weight: 300;
}

.pollCard a.viewPoll {
 color: #6979F8;
 cursor: pointer;
 margin-bottom: 4px;
}

.pollCard a.viewPoll:hover {
  color: rgb(111, 127, 245);
 }

.pollImage {
  display: block;
  width: 100%;
  margin-top: 16px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.poll {
  display: none;
  margin-top: 12px;
}

.poll form input {
  margin-right: 12px;
  -webkit-appearance: none;
  border: solid 2px #6979F8;
  width: 18px;
  height: 18px;
  border-radius: 9px;
  top: 3px;
  position: relative;
}

.poll form input:active, .poll form input:focus {
  outline: 0
}

.poll form input:checked {
  width: 6px;
  height: 6px;
  outline: 0;
  background: #fff;
  border: solid 6px #6979F8;
  box-sizing: content-box;
}

.poll p {
  margin-bottom: 0;
}

.poll form {
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 0.5px;
}

.poll form button {
  width: 100%;
  height: 42px;
  border: 0;
  background-color: #6979F8;
  color: white;
  font-size: 16px;
  font-weight: 300;
  border-radius: 5px;
  margin-top: 10px;
}

.btn {
  border: 0;
}

.post {
  background-color: #7B68EE !important;
}
.modal-header {
  color: white !important;
}
.modal-content {
  background-color: #181818 !important;
}

.MuiInputBase-input, #outlined-basic-label, .MuiInputLabel-outlined {
  color: white !important;
}