.progress-bar.bg-white {
  background-color: #6979F8!important;
}

.pollResultCard {
  margin-top: 30px;
}

.pollResultCard button, .pollResultCard button:hover, .pollResultCard button:active {
  background-color: #6979F8;
}

.backtoExplore{
  height: 30px;
}