.colorSet{
    color: white
}
.jumbotron {
    background-color: #181818 !important;
    margin-bottom: 0 !important;
   

}
.buttonStyles{
    background-color:#7B68EE !important
}
.googleLink{
    width: 100%;
    background-color: #80b3ff !important;
}
.bottomLink{
    margin-right: 10px;
}

.container-fluid {
  padding: 0;
}