.MuiAppBar-root{
  transform: none !important;
  box-shadow: none !important;
  display: grid !important;
  grid-template-columns: 1fr 5fr 1fr !important;
  justify-items: center !important;
}

.MuiAppBar-colorPrimary{
  color: #fff;
  background-color: #181818 !important;
}

.logo{
  height: 35px !important;
  margin-top: 20px;
}

.MuiSvgIcon-root{
  color: rgb(240, 233, 233) !important;
  margin-top: 20px;
}

#category{
  background-color: #7B68EE !important;
  border-radius: 0px !important;
  width: 175px !important;
  height: 175px !important;
  border-color: black !important;
} 

.btnGroup {
  text-align: center !important;
}

.container {
  padding: 0px !important;

}
@media screen and (min-width: 766px) {
  #category {
    width: 300px !important;
    height: 300px !important;
  }
  .logo{
    height: 55px !important;
  }
}
